/*IMPPRTANDO FUENTES*/
@import url(https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@200;300;400;500;600;700;800;900&display=swap);

/*FONDO ANIMADO*/
.css-selector {
    background: linear-gradient(139deg, #fd0000, #fd7100, #fdf700, #04bb63, #01b8ff, #9f02af);
    background-size: 1200% 1200%;
  
    -webkit-animation: AnimationName 23s ease infinite;
    -moz-animation: AnimationName 23s ease infinite;
    animation: AnimationName 23s ease infinite;
  }
  
  @keyframes AnimationName {
    0% { background-position: 0% 57%; }
    50% { background-position: 100% 44%; }
    100% { background-position: 0% 57%; }
}


/*TÍTULOS Y PÁRRAFOS*/
h1 {
    font-family: 'Source Sans Pro';
    font-weight: 800;
    font-size: 3rem;
    text-align: center;
    color: whitesmoke;
}

p {
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-size: 2rem;
    text-align: center;
    color: whitesmoke;
}