/*IMPORTANDO FUENTES*/
@import url(https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@200;300;400;500;600;700;800;900&display=swap);

/*FONDO ANIMADO*/
.css-selector {
    background: linear-gradient(40deg, #9049BF, #fafafa);
    background-size: 100% 100%;
  
    -webkit-animation: AnimationName 5s ease infinite;
    -moz-animation: AnimationName 5s ease infinite;
    animation: AnimationName 5s ease infinite;
  }
  
  @keyframes AnimationName {
    0% { background-position: 0% 100%; }
    50% { background-position: 100% 0%; }
    100% { background-position: 0% 100%; }
}

/*CUERPO*/
body {
    display: flex;
    justify-content: center;
    margin: 0;
}

form {
    max-width: 600px;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    align-items: center;
}

label {
    display: block;
    margin-bottom: 10px;
}

button {
    background-color: #F2D022;
    color: #260D40;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 2rem;
    font-size: 1rem;
}

button:hover {
    background-color: #0056b3;
}

/*TÍTULOS Y PÁRRAFOS*/
h1 {
    font-family: 'Source Sans Pro';
    font-weight: 800;
    font-size: 3rem;
    text-align: center;
    color: #260D40;
}

h2 {
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-size: 2rem;
    text-align: center;
    color: #260D40;
}

h3 {
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-size: 1rem;
    text-align: center;
    color: #260D40;
}

p {
    font-family: 'Source Sans Pro';
    font-weight: 800;
    font-size: 1rem;
    color: #260D40;
}

label {
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-size: 1rem;
    color: #260D40;
}

.estilo {
    font-family: 'Source Sans Pro';
    font-weight: 800;
    font-size: 1.2rem;
    text-align: center;
    color: #260D40;
}

.listadoUsuarios  {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    column-gap: 2rem;
}

.tarjeta {
    background-color: #fafafa;
    padding: 1rem;
    border-radius: 20px;
}